
{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title>iJamU - Search</title>
    </head>
    <body>
	<div class="container">
    	<div class="row">
        	<div class="jumbotron">
            <h1>Search Results : </h1>
            <p></p>
			<p></p>
        	</div>
    	</div>
	</div>
    		<h2><a href="/">Unsure? Go back to the home page!</a></h2>
		<p> Based on your criteria, we have the following users most suited to working with you. Feel free to click their links, to see their full profile! 
        {% for post in userdetail %}
            <div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.Username }}</a></h1>
                <p>{{ post.Fname }}  {{ post.Lname }}</p>
                <p>{{ post.Bio|linebreaksbr }}</p>
            </div>
        {% endfor %}

{% endblock %}
    </body>
</html>
