
{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title>iJamU - Search</title>                         
    </head>
    <body>
	<div class="container">
    	<div class="row">
        	<div class="jumbotron">
            <h1>Connections </h1>
            <p></p>
			<p></p>
        	</div>
    	</div>
	</div>
		<p> <h2>The following users are already connected with you ! </h2>
		<a href="/">Unsure? Go back to the home page!</a>
        {% for post in userdetail %}
            <div>
                <h1><a href="{% url 'consearch' post.User2 %}">{{ post.User2 }}</a></h1>
            </div>
        {% endfor %}

{% endblock %}
    </body>
</html>
