{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title>iJamU - Endorsements</title>
    </head>
    <body>
	<div class="container">
    	<div class="row">
        	<div class="jumbotron">
            <h1>Endorse your connections :  </h1>
            <p></p>
			<p></p>
        	</div>
    	</div>
	</div>
    		<h2><a href="/">Unsure? Go back to the home page!</a></h2>
		<p> Below are the people who're your connections!
        {% for post in userdetail %}
            <div>
                <h1><a href="{% url 'reqsearch' post.Username %}">{{ post.User2 }}</a></h1>
            </div>
        {% endfor %}


{% endblock %}
    </body>
</html>
