
{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title>iJamU - Requests</title>
    </head>
    <body>
	<div class="container">
    	<div class="row">
        	<div class="jumbotron">
            <h1>Search Results : </h1>
            <p></p>
			<p></p>
        	</div>
    	</div>
	</div>
        {% for post in userdetail %}
            <div>
                <p>Name : {{ post.Fname }}  {{ post.Lname }}</p>
                <p>Nickname : {{ post.Nickname }}</p>
               <p> Techlevel : {{ post.Techlevel }}</p>
                <p>Genre : {{post.Genre}}</p>
                <p>Instruments : {{ post.Instruments}}</p>
                <p>Address : {{ post.Address}}</p>
                <p>Bio : {{ post.Bio|linebreaksbr }}</p>
            </div>
        {% endfor %}
What do you want to do with this user?

<form action="{% url 'accept' post.User2 %}" method="post">{% csrf_token %}
    {{form.as_p}}
  <input type="submit" value="Accept the connection!" />
</form>
<form action="{% url 'delreq' post.User2 %}" method="post">{% csrf_token %}
    {{form.as_p}}
  <input type="submit" value="Reject the connection!" />
</form>
{% endblock %}

    </body>
</html>
